body{
    /* background-color: #1F2937; */
    background-color: #1f1f1f;
}

.bg-color-gray-ch{
    background-color: #1f1f1f;
}

.police-montserrat{
    font-family: 'Montserrat', sans-serif;
}

.police-great-vibe{
   font-family: 'Great Vibes', cursive;
}

.police-Bebas-Neue{
    font-family: 'Bebas Neue', sans-serif;
 }

 .police-roboto{
    font-family: 'Roboto', sans-serif;
 }

 .police-lato{
    font-family: 'Lato', sans-serif;
 }

 .police-open-sans{
    font-family: 'Open Sans', sans-serif;
 }





 .bordure-ma-photo{
    border-style: solid;
  border-width: 2px;
  border-color: #000000; 
  border-radius: 30px;
  /* //#808080 */
 }



