body{
    background-color: #1F2937;
}

.police-montserrat{
    font-family: 'Montserrat', sans-serif;
}

.police-great-vibe{
   font-family: 'Great Vibes', cursive;
}

.police-Bebas-Neue{
    font-family: 'Bebas Neue', sans-serif;
 }



